.music {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

main{
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin-bottom: 7px;
}